body
{
	font-family: fantasy;
	color: white;
	background: blue;
}
#container
{
	height: 520px;
	width: 460px;
	margin: 100px auto;
	background: black;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}
h1
{
	background: purple;
	color: yellow;
	margin: 0;
	padding: 10px 120px;
	text-transform: uppercase;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
p
{
	padding-left: 20px;
}
form input[type="text"]
{
	width: 90px;
}
input
{
	padding-left: 20px;
}
#billamt
{
	font-size: 14px;
	color: #red;
	background-color: #f7f7f7;
	width: 60%;
	padding: 5px 5px 8px 8px;

}
#peopleamt
{
	width: 60%;
	padding: 5px 5px 8px 8px;
	margin-left: 20px;
	color: #red;
	background-color: #f7f7f7;
}
#totalTip
{
	margin-left: 20px;
}
#servicequal
{
	padding: 13px 13px 20px 20px;
	margin-left: 20px;
	font-size: 20px;
}
button
{
	text-transform: uppercase;
	font-weight: bold;
	display: block;
	margin: 30px;
	background: purple;
	border-radius: 5px;
	width: 200px;
	height: 50px;
	font-size: 20px;
	color: white;
	margin-left: 110px;
}
button:hover
{
	background: #4c2827;
	border-bottom-color: #111;
}
#totalTip
{
	font-size: 30px;
	margin-top: 5px;
	text-align: center;
}
footer
{
	text-align: center;
}
#totalTip sup
{
	font-size: 20px;
	top: -18px;
}
#totalTip small
{
	font-size: 20px;
	font-weight: bold;
	display: block;
}
#tip 
{
	font-size: 30px;
}